article.post {
    display: flex;
	justify-content: center;
    flex-direction: column;
	margin: 1rem 0;
	color: var(--fontcolorlight);
	min-width: 370px;
}

.post * {
    max-width: 800px;
}

.home-post-image {
	width: 100%;
	margin: 1rem 0;
	border-radius: 12px;
	align-self: center;
}

.post p{
    margin: 1rem 0;
	align-self: center;
}

.home-post-avatar {
	grid-row: span 2;
	margin-right: 1rem;
}

.post-info {
	display: flex;
	align-items: center;
}
.post-info div{
display: flex;
flex: 1;
flex-direction: column;
overflow: hidden;
flex-basis: content;
justify-content:flex-start;
}

.post h3 {
	/* align-self: end; */
}

.post time {
	font-size: smaller;
}

.HeartIcon{
	width: 24px;
}

.post-like-button {
	justify-content: center;
	display: flex;
	align-items: center;
}

.post-like-button svg{
	/* padding-left: 5px; */
	margin: 0 3px;
}