article.post {
    display: flex;
    flex-direction: column;
	margin: 1rem 0;
	color: var(--fontcolorlight);
	min-width: 370px;
}

article.post * {
    justify-self: center;
    max-width: 800px;
}

article.post .home-post-image {
	width: 100%;
	margin: 1rem 0;
	border-radius: 12px;
}

article.post p{
    margin: 1rem 0;
}

.home-post-avatar {
	grid-row: span 2;
	margin-right: 1rem;
}



article.post h3 {
	/* align-self: end; */
}

article.post time {
	font-size: smaller;
}
